# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage
*.local

# Production
dist
dist-ssr
build

# Misc
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Capacitor
.capacitor

# TypeScript
*.tsbuildinfo

# Ionic
www

# OS
Thumbs.db

# Android
android/app/build
android/app/release
android/build
android/.gradle
android/local.properties
android/*.iml
android/.idea
android/captures
android/.externalNativeBuild
android/.cxx

# iOS
ios/App/build
ios/App/Pods
ios/App/Podfile.lock
ios/App/*.xcworkspace
ios/App/*.xcodeproj

# Cypress
cypress/videos
cypress/screenshots
